.navbar {
    background-color: #9BAEBF !important;
  }
  
  .navbar-brand {
    font-weight: bold;
    color: #ffffff !important;
  }
  
  .navbar-nav .nav-link {
    font-size: 1rem;
    color: black !important;
    font-weight: bolder;
  }

.navbar-fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}