.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  transition: width 0.3s; 
  width: 250px;
  overflow-x: hidden; 
  background-color: #ffffff;
  border-right: 1px solid #dee2e6;
  z-index: 1000;
}

.sidebar.closed {
  width: 80px;
}

.sidebar .nav-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  transition: background-color 0.2s ease;
}

.sidebar.closed .nav-link {
  text-align: center;
}

.toggle-btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bi {
  font-size: 1.25rem;
  margin-right: 10px;
}

.sidebar.closed .bi {
  margin-right: 0;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
  background-color: #5F50BF;
  color: #ffffff;
}
