<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
  <button class="btn btn-primary" (click)="emitSettingsEvent()">
    <i class="bi bi-funnel-fill"></i> Filtros
  </button>
</div>

<!-- aqui vai ser ngfor -->
<div class="row mb-4 d-flex justify-content-between">
  <div class="col-md-2">
    <div class="card shadow-sm text-center card-sales">
      <div class="card-body">
        <h5 class="card-title">Notas Emitidas</h5>
        <p class="card-text display-4">R$12.345,23</p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card shadow-sm text-center card-sales">
      <div class="card-body">
        <h5 class="card-title">Notas Sem Cobrança</h5>
        <p class="card-text display-4">$12,345</p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card shadow-sm text-center card-orders">
      <div class="card-body">
        <h5 class="card-title">Notas Vencidas</h5>
        <p class="card-text display-4">123</p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card shadow-sm text-center card-customers">
      <div class="card-body">
        <h5 class="card-title">Notas A Vencer</h5>
        <p class="card-text display-4">456</p>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card shadow-sm text-center card-requests">
      <div class="card-body">
        <h5 class="card-title">Notas Pagas</h5>
        <p class="card-text display-4">10</p>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4">
  <app-line-chart class="col-md-6" [idChart]="'salesChart'" [title]="'Evolução da Inadimplência Mensal'"></app-line-chart>
  <div class="col-md-6">
    <app-bar-chart class="col-md-6" [idChart]="'salesCharttt'" [title]="'Receita Recebida: Evolução Mensal'" [data]="{
      labels: ['January', 'February', 'March', 'April', 'May', 'June'],
      datasets: [{
        label: 'Notas Fiscais',
        data: [65, 59, 80, 81, 56, 55],
        backgroundColor: 'rgba(75, 192, 192, 0.2)',
        borderColor: 'rgba(75, 192, 192, 1)',
        borderWidth: 1
      }]
    }"></app-bar-chart>

  </div>
</div>

<div class="row mb-4">
  <!-- <app-progress-bar-chart class="col-md-6"></app-progress-bar-chart> -->
  <div class="col-md-12">
    <app-table></app-table>
  </div>
</div>