@if (cardNotasFiscais && lineChart && barChart) {
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <button class="btn btn-primary" (click)="emitSettingsEvent()">
      <i class="bi bi-funnel-fill"></i> Filtros
    </button>
  </div>
  
  <!-- aqui vai ser ngfor -->
  <div class="row mb-4 d-flex justify-content-between">
    @for (card of cardNotasFiscais; track card) {
    <div class="col-md-2">
      <div class="card shadow-sm text-center card-sales">
        <div class="card-body">
          <h5 class="card-title">{{card.categoria}}</h5>
          <p class="card-text display-4">{{card.quantidade}}</p>
        </div>
      </div>
    </div>
    }
  </div>
  
  <div class="row mb-4">
    <app-line-chart class="col-md-6" [data]="lineChart" [idChart]="'lineChart'"
      [title]="'Evolução da Inadimplência Mensal'"></app-line-chart>
    <div class="col-md-6">
      <app-bar-chart class="col-md-6" [idChart]="'barChart'" [title]="'Receita Recebida: Evolução Mensal'" [data]="barChart"></app-bar-chart>  
    </div>
  </div>
  
  <div class="row mb-4">
    <div class="col-md-12">
      <app-table [data]="table"></app-table>
    </div>
  </div>
  
  <!--Modal de fitlros-->
  <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="settingsModalLabel">Filtros</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <form [formGroup]="filtersForm">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="DataEmissaoDe" class="form-label">Data Emissão de</label>
                <input type="date" id="DataEmissaoDe" formControlName="DataEmissaoDe" class="form-control">
              </div>
              <div class="col-md-6 mb-3">
                <label for="DataEmissaoAte" class="form-label">Data Emissão Até</label>
                <input type="date" id="DataEmissaoAte" formControlName="DataEmissaoAte" class="form-control">
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="DataCobrancaDe" class="form-label">Data Cobrança De</label>
                <input type="date" id="DataCobrancaDe" formControlName="DataCobrancaDe" class="form-control">
              </div>
              <div class="col-md-6 mb-3">
                <label for="DataCobrancaAte" class="form-label">Data Cobrança Até</label>
                <input type="date" id="DataCobrancaAte" formControlName="DataCobrancaAte" class="form-control">
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="DataPagamentoDe" class="form-label">Data Pagamento De</label>
                <input type="date" id="DataPagamentoDe" formControlName="DataPagamentoDe" class="form-control">
              </div>
              <div class="col-md-6 mb-3">
                <label for="DataPagamentoAte" class="form-label">Data Pagamento Até</label>
                <input type="date" id="DataPagamentoAte" formControlName="DataPagamentoAte" class="form-control">
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="idStatusNotaFiscal" class="form-label">Status Nota Fiscal</label>
                <select id="idStatusNotaFiscal" formControlName="IdStatusNotaFiscal" class="form-select">
                  <option value="">Selecione um status</option>
                  @for(status of statusNotaFiscal; track status) {
                    <option [value]="status.id">{{ status.nome }}</option>
                  }
                </select>
              </div>
            </div>
          </form>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary" (click)="onFilter(filtersForm.value)" data-bs-dismiss="modal">Filtrar</button>
        </div>
      </div>
    </div>
  </div>     
}