<section class="container-xxl home">
    <div id="carousel-home" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="" class="w-100 d-none d-lg-block">
          <img src="" class="d-block w-100 d-lg-none">
        </div>
      </div>
    </div>
  
    <div class="row w-100 m-0 mt-4">
      <div class="col-lg-5 col-12 mb-4 mb-lg-0">
        <div class="card card-rounded border-0 overflow-hidden">
          <div class="card-body p-0">
            <div class="d-flex h-100 justify-content-center align-items-center flex-column">
              <img src="../../../assets/img/Design stats-bro.png" class="w-75">
              <p class="texto-card text-center mt-1 mb-2 text-uppercase"><b>DASHBOARDS</b></p>
              <button class="btn btn-santander text-center mt-2 mb-3" routerLink="/dashboard/notas-fiscais"><u>Acessar</u></button>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-lg-7 col-12 mb-4 mb-lg-0">
        <div class="col-12 mb-4">
          <div class="card card-rounded border-0 overflow-hidden">
            <div class="card-body p-0">
              <div class="d-flex align-items-center justify-content-evenly flex-column flex-sm-row">
                <div class="col-6 col-sm-4 p-0">
                  <img src="../../../assets/img/Website Creator-bro.png" class="w-100 h-100">
                </div>
                <div class="col-6 col-sm-8 p-0 mt-3">
                  <div class="d-flex flex-column align-items-center justify-content-center">
                    <p class="texto-card text-center mt-1 mb-2 text-uppercase"><b>Emita Notas Fiscais</b></p>
                    <button class="btn btn-santander btn-mini text-center mt-2 mb-3" routerLink="NotasFiscais"><u>Acessar</u></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-12">
          <div class="card card-rounded border-0 overflow-hidden">
            <div class="card-body p-0">
              <div class="d-flex align-items-center justify-content-evenly flex-column flex-sm-row">
                <div class="col-6 col-sm-4 p-0">
                  <img src="../../../assets/img/Finance app-bro.png" class="w-100 h-100">
                </div>
                <div class="col-6 col-sm-8 p-0 mt-3">
                  <div class="d-flex flex-column align-items-center justify-content-center">
                    <p class="texto-card text-center mt-1 mb-2 text-uppercase"><b>Exporte para pdf</b></p>
                    <a class="texto-card cursor-pointer text-center btn-mini text-center mt-2 mb-3"><u>Em breve</u></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  