<div class="card shadow-sm">
    <div class="card-body">
        <div class="row">
            <div class="col-md-8 mb-3">
                <input type="text" [(ngModel)]="filterText" placeholder="Buscar..." class="form-control w-50 mb-2">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Numero</th>
                        <th>Nome pagador</th>
                        <th>Data Emissão</th>
                        <th>Data de Cobrança</th>
                        <th>Data Pagamento</th>
                        <th>Valor</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @for (notaFiscal of data; track notaFiscal)
                    {
                    <tr>
                            <td>{{ notaFiscal.numeroIdentificacao }}</td>
                            <td>{{ notaFiscal.nomePagador }}</td>
                            <td>{{ notaFiscal.dataEmissao | date }}</td>
                            <td>{{ notaFiscal.dataCobranca | date }}</td>
                            <td>{{ notaFiscal.dataPagamento | date }}</td>
                            <td>{{ notaFiscal.valor | currency: 'BRL' }}</td>
                            <td>{{ notaFiscal.statusNotaFiscal.nome }}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>